/* 全局样式 */
* {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
li {
  list-style: none;
}
.clear {
  content: "";
  clear: both;
  display: block;
}
/* 头部样式--seart */
body header.bg {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
}
body header.bg .nav {
  line-height: 60px;
  width: 1140px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  color: white;
  overflow: hidden;
}
body header.bg .nav ul.menu li {
  float: left;
  margin: 0 15px;
}
body header.bg .nav ul.menu li::after {
  content: "/";
  margin-left: 15px;
}
body header.bg .nav ul.menu li:last-child::after {
  content: none;
}
body header.bg .nav ul.menu li a {
  color: white;
  transition: all 0.3s;
  text-transform: capitalize;
}
body header.bg .nav ul.menu li a:hover {
  border-top: 4px solid yellow;
  color: yellow;
}
body header.bg form.search {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 15px;
}
body header.bg form.search input:first-child {
  color: white;
  padding: 8px 10px;
  outline: none;
  background: transparent;
  border: 1px solid white;
}
body header.bg form.search input:last-child {
  width: 22px;
  height: 22px;
  text-indent: -10em;
  background: url(../images/search.png) no-repeat;
  background-position: center;
  border: none;
  outline: none;
  position: absolute;
  right: 8px;
  top: 20px;
  cursor: pointer;
}
body header.bg form.search input::placeholder {
  color: white;
}
body header.bg .title h1 {
  height: 100px;
  width: 280px;
  margin: 160px auto;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  line-height: 1.5em;
  font-size: 4.5em;
  font-weight: normal;
  color: white;
  transition: all 1.5s;
}
body header.bg .title h1.active {
  transform: scale(1);
}
body header.bg .title h1 a {
  color: white;
}
body header.bg ul.grid {
  width: 1140px;
  margin: 0px auto;
  position: relative;
  top: 120px;
  left: 0;
}
body header.bg ul.grid::after {
  content: '';
  clear: both;
  display: block;
}
body header.bg ul.grid li {
  width: 25%;
  float: left;
  text-align: center;
  transition: all 1s;
  position: relative;
}
body header.bg ul.grid li:nth-child(1) {
  position: relative;
  top: 0px;
  left: -500px;
}
body header.bg ul.grid li:nth-child(1).active {
  left: 0px;
}
body header.bg ul.grid li:nth-child(2) {
  position: relative;
  top: -1000px;
  left: 0;
}
body header.bg ul.grid li:nth-child(2).active {
  top: 0px;
}
body header.bg ul.grid li:nth-child(3) {
  position: relative;
  bottom: -500px;
  left: 0;
}
body header.bg ul.grid li:nth-child(3).active {
  bottom: 0px;
}
body header.bg ul.grid li:nth-child(4) {
  position: relative;
  top: 0px;
  right: -500px;
}
body header.bg ul.grid li:nth-child(4).active {
  right: 0px;
}
body header.bg ul.grid li .card {
  background: #16a667;
  margin: 0 14px;
  padding: 1.5em 2em;
  color: white;
  line-height: 25px;
}
body header.bg ul.grid li .card img {
  border: 8px solid white;
  border-radius: 100px;
  padding: 10px;
}
body header.bg ul.grid li .card img:hover {
  transition: all 0.5s;
  transform: rotateY(360deg);
}
body header.bg ul.grid li .card h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}
body header.bg ul.grid li .card p {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
}
body .about {
  width: 1110px;
  height: 500px;
  margin: 0 auto;
  margin-top: 180px;
}
body .about h3 {
  font-size: 36px;
  width: 460px;
  transition: all 1.5s;
  transform: scale(0);
}
body .about h3.active {
  transform: scale(1);
}
body .about .inco {
  width: 460px;
  line-height: 100px;
  position: relative;
  top: 0;
  right: -1000px;
  transition: all 1.5s;
}
body .about .inco img {
  width: 430px;
}
body .about .inco.active {
  right: 0;
}
body .about .font {
  height: 400px;
  width: 640px;
  position: relative;
  top: 0;
  left: -1000px;
  transition: all 1.5s;
}
body .about .font p {
  font-size: 14px;
  margin-top: 30px;
  line-height: 1.8em;
  color: #939393;
}
body .about .font.active {
  left: 0;
}
body .content_our {
  height: 450px;
  width: 100%;
  background: #37353b;
}
body .content_our ul.service {
  width: 1140px;
  height: 350px;
  margin: 50px auto;
}
body .content_our ul.service h3 {
  font-size: 36px;
  color: white;
  margin: 0 17px;
  transition: all 1s;
  transform: scale(0);
}
body .content_our ul.service h3.active {
  transform: scale(1);
}
body .content_our ul.service li {
  text-align: center;
  width: 350px;
  float: left;
  margin: 0 15px;
  transition: all 1s;
}
body .content_our ul.service li:nth-child(2) {
  position: relative;
  top: 0px;
  left: -800px;
}
body .content_our ul.service li:nth-child(2).active {
  left: 0px;
}
body .content_our ul.service li:nth-child(3) {
  position: relative;
  bottom: -100px;
  left: 0px;
}
body .content_our ul.service li:nth-child(3).active {
  bottom: 0px;
}
body .content_our ul.service li:nth-child(4) {
  position: relative;
  right: -800px;
  top: 0px;
}
body .content_our ul.service li:nth-child(4).active {
  right: 0px;
}
body .content_our ul.service li .guide {
  float: left;
  padding: 1.5em 2em;
  line-height: 25px;
}
body .content_our ul.service li .guide img {
  background: #16a667;
  border-radius: 10px;
  padding: 5px 10px;
}
body .content_our ul.service li .guide img:hover {
  background: orange;
}
body .content_our ul.service li .guide h4 {
  font-size: 1.2em;
  color: white;
  padding: 5px;
}
body .content_our ul.service li .guide p {
  font-size: 10px;
  padding: 5px;
  color: #939393;
}
body .works {
  background: #eeeeee;
  height: 650px;
  transform: scale(0);
  transition: all 1.5s;
}
body .works.active {
  transform: scale(1);
}
body .works .content h3 {
  width: 1140px;
  margin: 0 auto;
  padding: 30px;
  font-size: 34px;
}
body .works .content ul.grid {
  width: 1140px;
  margin: 0 auto;
}
body .works .content ul.grid li {
  float: left;
  width: 25%;
  position: relative;
}
body .works .content ul.grid li img {
  width: 100%;
  display: block;
}
body .works .content ul.grid li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/magnify.png) no-repeat center rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 white;
  transform: scale(0);
  transition: all 0.6s;
}
body .works .content ul.grid li:hover::after {
  transform: scale(1);
  z-index: 1;
}
body .news {
  width: 100%;
  height: 650px;
}
body .news .hot {
  width: 1140px;
  height: 650px;
  margin: 0 auto;
}
body .news .hot h3 {
  padding: 40px 0 0 30px;
  font-size: 34px;
}
body .news .hot ul {
  width: 1140px;
  margin-left: 30px;
}
body .news .hot ul li {
  width: 31%;
  float: left;
  transition: all 1s;
}
body .news .hot ul li:nth-child(1) {
  position: relative;
  top: 0;
  right: 0;
  left: -850px;
}
body .news .hot ul li:nth-child(1).active {
  left: 0px;
}
body .news .hot ul li:nth-child(2) {
  transform: rotateY(0);
}
body .news .hot ul li:nth-child(2).active {
  transform: rotateY(360deg);
}
body .news .hot ul li:nth-child(3) {
  position: relative;
  top: 0;
  right: 0;
  right: -850px;
}
body .news .hot ul li:nth-child(3).active {
  right: 0;
}
body .news .hot ul li .more {
  float: left;
  padding: 0 15px;
  background: white;
}
body .news .hot ul li .more img {
  width: 100%;
}
body .news .hot ul li .more h4 {
  padding: 8px 0;
  font-size: 1.3em;
}
body .news .hot ul li .more b {
  padding: 15px 0;
  color: #bbbbbb;
  font-weight: normal;
}
body .news .hot ul li .more p {
  padding: 8px 0;
  line-height: 1.5em;
  font-size: 12px;
  color: #bbbbbb;
}
body .news .hot ul li .more .button {
  width: 120px;
  height: 40px;
  margin-top: 15px;
  background: orange;
  text-align: center;
  line-height: 40px;
  color: white;
  text-transform: capitalize;
  position: relative;
}
body .news .hot ul li .more .button b {
  position: relative;
  z-index: 1;
}
body .news .hot ul li .more .button b a {
  color: white;
}
body .news .hot ul li .more .button .mask {
  width: 100%;
  height: 100%;
  background: #16a667;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s;
}
body .news .hot ul li .more .button:hover .mask {
  transform: rotateX(90deg);
}
body .guider {
  width: 100%;
  height: 470px;
  background: #3F454D;
}
body .guider ul.content {
  width: 1200px;
  margin: 0 auto;
}
body .guider ul.content li {
  width: 300px;
  float: left;
  padding-left: 80px;
  transition: all 1s;
}
body .guider ul.content li:nth-child(1) {
  position: relative;
  top: 0;
  left: -800px;
  transform: scale(0);
}
body .guider ul.content li:nth-child(1).active {
  left: 0;
  transform: scale(1);
}
body .guider ul.content li:nth-child(2) {
  transform: scale(0);
}
body .guider ul.content li:nth-child(2).active {
  transform: scale(1);
}
body .guider ul.content li:nth-child(3) {
  position: relative;
  top: 0;
  right: -800px;
  transform: scale(0);
}
body .guider ul.content li:nth-child(3).active {
  right: 0;
  transform: scale(1);
}
body .guider ul.content li .vote {
  width: 380px;
  height: 470px;
  margin: 0 auto;
  padding: 20px 0px;
}
body .guider ul.content li .vote h3 {
  padding: 30px 0;
  font-size: 2.2em;
  color: white;
}
body .guider ul.content li .vote .box {
  width: 100%;
  height: 100px;
}
body .guider ul.content li .vote .box .left img {
  width: 75px;
  height: 75px;
}
body .guider ul.content li .vote .box .right {
  margin: 0px 0 0 10px;
  line-height: 25px;
}
body .guider ul.content li .vote .box .right h4 {
  font-size: 18px;
  color: white;
  cursor: pointer;
}
body .guider ul.content li .vote .box .right h4:hover {
  color: orange;
}
body .guider ul.content li .vote .box .right p {
  font-size: 12px;
  color: #999999;
}
body .guider ul.content li .vote .icon {
  width: 100%;
  height: 120px;
}
body .guider ul.content li .vote .icon li {
  padding: 5px 10px;
  line-height: 1.2em;
  background: url(../images/list-arrow.png) no-repeat 0px 13px;
  padding: 10px 24px;
  color: #999999;
  font-size: 12px;
  position: relative;
  left: 0;
  top: 0;
  transform: scale(1);
  cursor: pointer;
}
body .guider ul.content li .vote .icon li:hover {
  color: orange;
}
body .guider ul.content li .vote .contact {
  width: 100%;
  height: 80px;
  float: left;
}
body .guider ul.content li .vote .contact .left {
  width: 45px;
  height: 45px;
  background: url(../images/img-sprite1.png) no-repeat;
  background-position-x: -217px;
}
body .guider ul.content li .vote .contact .right {
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
body .guider ul.content li .vote .contact .right:hover {
  color: orange;
}
body .guider ul.content li .vote .contact .left2 {
  width: 45px;
  height: 45px;
  background: url(../images/img-sprite1.png) no-repeat;
  background-position-x: -255px;
}
body .guider ul.content li .vote .contact .left3 {
  width: 45px;
  height: 45px;
  background: url(../images/img-sprite1.png) no-repeat;
  background-position-x: -295px;
}
body footer.partner {
  width: 100%;
  height: 220px;
  padding-bottom: 30px;
}
body footer.partner ul.content {
  width: 1140px;
  margin: 0 auto;
}
body footer.partner ul.content li {
  text-align: center;
  line-height: 50px;
  transition: all 1s;
}
body footer.partner ul.content li:nth-child(1) {
  position: relative;
  top: 0;
  left: -1200px;
}
body footer.partner ul.content li:nth-child(1).active {
  left: 0;
}
body footer.partner ul.content li:nth-child(2) {
  position: relative;
  top: -50px;
  left: 0px;
}
body footer.partner ul.content li:nth-child(2).active {
  top: 0;
}
body footer.partner ul.content li:nth-child(3) {
  position: relative;
  right: -1200px;
  top: 0;
}
body footer.partner ul.content li:nth-child(3).active {
  right: 0;
}
body footer.partner ul.content li span {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-left: 15px;
  background: url(../images/img-sprite1.png) no-repeat;
}
body footer.partner ul.content li span:nth-child(2) {
  background-position-x: -55px;
}
body footer.partner ul.content li span:nth-child(3) {
  background-position-x: -110px;
}
body footer.partner ul.content li span:nth-child(4) {
  background-position-x: -165px;
}
body footer.partner ul.content li span:hover {
  opacity: 0.6;
}
body footer.partner ul.content li b {
  margin-left: 20px;
  cursor: pointer;
  font-weight: normal;
}
body footer.partner ul.content li a {
  color: aqua;
}
body footer.partner ul.content li a:hover {
  border-bottom: 1px solid aqua;
}
/*# sourceMappingURL=./style.css.map */