* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  border: none;
}
header {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
header .logo {
  text-align: center;
  line-height: 130px;
  margin-top: 20px;
}
header .logo ul li {
  float: left;
}
header .logo ul li img {
  width: 300px;
  height: 100px;
}
header .logo ul li h4 {
  font-size: 22px;
  margin-left: 5px;
}
header .nav {
  margin-left: 30px;
  position: relative;
}
header .nav ul li {
  float: left;
  line-height: 120px;
  width: 125px;
  text-align: center;
  margin-left: 2px;
  font-size: 18px;
}
header .nav ul li:hover {
  background: orangered;
}
header .nav ul li:first-child {
  background: orangered;
}
header .nav ul li a {
  color: black;
}
header .nav ul li:nth-child(4):hover .btn {
  opacity: 1;
}
header .nav ul li .btn {
  position: absolute;
  height: 90px;
  width: 125px;
  left: 383px;
  top: 120px;
  opacity: 0;
}
header .nav ul li .btn .top:hover .new {
  background: orangered;
}
header .nav ul li .btn .top:hover .tips {
  border-bottom: 8px solid orangered;
}
header .nav ul li .btn .top .tips {
  position: relative;
  left: 52px;
  top: -8px;
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #232524;
  border-right: 8px solid transparent;
}
header .nav ul li .btn .top .new {
  height: 40px;
  background: #232524;
  text-align: center;
  line-height: 40px;
  margin-top: -8px;
}
header .nav ul li .btn .top .new a {
  color: white;
}
header .nav ul li .btn .bottom {
  height: 40px;
  background: #232524;
  text-align: center;
  line-height: 40px;
}
header .nav ul li .btn .bottom a {
  color: white;
}
header .nav ul li .btn .bottom:hover {
  background: orangered;
}
.background {
  height: 800px;
  background: url(../images/ABUIABAEGAAgiozh3gUotpaWnAYwgA84oAY.png) no-repeat center;
}
.icon {
  width: 1140px;
  margin: 0 auto;
}
.icon .title {
  width: 1140px;
  text-align: center;
}
.icon .title h3 {
  padding: 30px 0 0 0;
  font-size: 26px;
  font-weight: normal;
}
.icon .title p {
  padding: 10px 0 0 0;
  font-size: 10px;
  color: #939393;
}
.icon .card {
  width: 1140px;
  margin: 0 auto;
}
.icon .card ul {
  width: 1140px;
  margin: 0 auto;
}
.icon .card ul li {
  height: 270px;
  width: 250px;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.icon .card ul li .images {
  width: 100%;
  height: 100%;
  float: left;
  padding: 30px 60px;
}
.icon .card ul li b {
  width: 80%;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  font-size: 10px;
}
.about {
  background: url(../images/img9.jpg) no-repeat center;
  height: 750px;
  content: "";
  clear: both;
  display: block;
}
.about .title {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.about .title h3 {
  padding: 30px 0 10px 0;
}
.about .title b {
  font-weight: normal;
  font-size: 8px;
}
.about ul.card {
  width: 1201px;
  height: 550px;
  margin: 0 auto;
  margin-top: 114px;
}
.about ul.card li {
  width: 400px;
  height: 550px;
  float: left;
}
.about ul.card li .content {
  background: url(../images/img10.png) no-repeat;
  background-size: 400px 550px;
  height: 550px;
}
.about ul.card li .content2 {
  background: url(../images/img12.png) no-repeat;
  background-size: 400px 550px;
  height: 550px;
  position: relative;
}
.about ul.card li .content2 h4 {
  font-size: 18px;
  margin: 50px 0 10px 30px;
  float: left;
}
.about ul.card li .content2 p {
  width: 360px;
  padding: 10px 0px 0 20px;
  content: "";
  clear: both;
  display: block;
}
.about ul.card li .content2 .button {
  width: 120px;
  height: 40px;
  background: black;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.about ul.card li .content2 .button a {
  color: white;
}
.about ul.card li .content3 {
  background: url(../images/img11.png) no-repeat;
  background-size: 400px 550px;
  height: 550px;
}
.service {
  width: 1140px;
  height: 500px;
  margin: 0 auto;
  content: "";
  clear: both;
  display: block;
}
.service .title {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.service .title h3 {
  padding: 60px 0 15px 0;
  font-size: 22px;
}
.service .title b {
  font-size: 10px;
  font-weight: normal;
  color: #939393;
}
.service ul.content {
  width: 1200px;
  margin-top: 50px;
  padding: 0 0 0 40px;
}
.service ul.content li {
  width: 1200px;
}
.service ul.content li .box {
  width: 350px;
  text-align: center;
  float: left;
  margin: 0 auto;
}
.service ul.content li .box .icon {
  width: 120px;
  height: 120px;
  background: url(../images/img13.png) no-repeat center;
}
.service ul.content li .box .icon img {
  display: block;
  margin: 19px;
  float: left;
}
.service ul.content li .box h4 {
  padding: 30px 0 10px 0px;
}
.service ul.content li .box p {
  padding: 0px 0 8px 0px;
  color: #939393;
}
.newsbg {
  height: 450px;
  margin-top: 20px;
  background: url(../images/new-img.jpg) no-repeat center;
}
.newsbg .font {
  width: 300px;
  height: 40px;
  margin: 400px 0 0 410px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.newsbg .font a {
  color: white;
}
.banner {
  width: 1080px;
  height: 580px;
  margin: 0 auto;
  margin-top: 60px;
}
.banner .left {
  height: 200px;
  width: 600px;
  background: url(../images/card1.png) no-repeat center;
  background-size: 600px;
}
.banner .right {
  margin-left: 50px;
}
.banner .right p {
  margin-left: 10px;
  font-size: 18px;
}
.banner .right b {
  display: block;
  margin-left: 10px;
  padding: 10px 0px 60px 0px;
  color: #939393;
  font-weight: normal;
}
.banner .right ul li {
  list-style: disc;
  margin-left: 30px;
  line-height: 30px;
}
.banner ul.card {
  content: "";
  clear: both;
  display: block;
  width: 1200px;
  height: 250px;
}
.banner ul.card li {
  width: 250px;
  float: left;
  padding: 50px 20px 0 0;
}
.banner ul.card li .icon {
  width: 250px;
  height: 250px;
  float: left;
  background: url(../images/card2.png) no-repeat;
  background-size: 250px 250px;
}
.banner ul.card li .icon2 {
  width: 250px;
  height: 250px;
  float: left;
  background: url(../images/card3.png) no-repeat;
  background-size: 250px 250px;
}
.banner ul.card li .icon3 {
  width: 250px;
  height: 250px;
  float: left;
  background: url(../images/card4.png) no-repeat;
  background-size: 250px 250px;
}
.banner ul.card li .icon4 {
  width: 250px;
  height: 250px;
  float: left;
  background: url(../images/card5.jpg) no-repeat;
  background-size: 250px 250px;
}
.footer {
  height: 220px;
  background: #2b2b2b;
}
.footer .top {
  width: 1000px;
  height: 100px;
  border-bottom: 1px solid #434343;
  margin: 0 auto;
}
.footer .top .icon {
  width: 33%;
  height: 100%;
  margin: 0 auto;
}
.footer .top .img img {
  border-right: 1px solid #434343;
  margin-top: 30px;
  margin-left: 50px;
}
.footer .top .font {
  margin-top: 30px;
  margin-left: 5px;
}
.footer .top .font ul li {
  color: white;
  padding-left: 5px;
}
.footer .bottom {
  height: 100px;
  width: 1140px;
  margin: 0 auto;
}
.footer .bottom ul {
  width: 520px;
  height: 100%;
  margin: 0 auto;
}
.footer .bottom ul li {
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  font-size: 10px;
  color: #939393;
}
.footer .bottom ul li::after {
  content: "| ";
  margin-left: 25px;
}
.footer .bottom ul li:last-child::after {
  content: "";
}
.footer .bottom ul li a {
  color: white;
}
.copy {
  height: 100px;
  width: 100%;
  background: #232524;
  color: #a4a5a5;
  font-size: 10px;
}
.copy .top {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0 5px 0;
}
.copy .bottom {
  width: 380px;
  margin: 0 auto;
}
/*# sourceMappingURL=./style.css.map */